#!/bin/bash

# Fails on missing certificates

if [ ! -f {{ konnectivity_server_config_path }}/cluster.key ]; then exit 0; fi
if [ ! -f {{ konnectivity_server_config_path }}/cluster.pem ]; then exit 0; fi
if [ ! -f {{ konnectivity_server_config_path }}/konnectivity-server.kubeconfig ]; then exit 0; fi

{{ konnectivity_server_bin_path }}/proxy-server \
  --logtostderr=true \
  --uds-name=/var/run/konnectivity-server/konnectivity-server.socket \
  --cluster-cert={{ konnectivity_server_config_path }}/cluster.pem \
  --cluster-key={{ konnectivity_server_config_path }}/cluster.key \
  --mode=grpc \
  --server-port=0 \
  --agent-namespace=kube-system \
  --agent-service-account=konnectivity-agent \
  --kubeconfig={{ konnectivity_server_config_path }}/konnectivity-server.kubeconfig \
  --authentication-audience=system:konnectivity-server
