.DS_Store
.env
.terraform
.terraform.tfstate*
.virtual-env
.helm

/artifacts/*.txt
/artifacts/*.kubeconfig
/artifacts/*.yaml
/artifacts/*.yml
/artifacts/*.key
/artifacts/*.pem
/artifacts/id_*


/platform.specs.yaml
/packer/.config
/packer/.venv
terraform.tfstate*
terraform.tfvars
vars.hcl