.DS_Store
.env
.terraform*
.virtual-env
.helm
artifacts/*.json
artifacts/*.key
artifacts/*.pem
artifacts/*.kubeconfig
artifacts/id_*
artifacts/inventory.yml
artifacts/root-token.txt
artifacts/vault-*
build.log
id_rsa
locals.tf
terraform.tfstate*
terraform.tfvars
vars.hcl