.DS_Store
.env
.terraform
.terraform.tfstate*
.virtual-env
.helm
/artifacts/*.snapshot
/artifacts/*.json
/artifacts/*.csr
/artifacts/*.key
/artifacts/*.pem
/artifacts/*.kubeconfig
/artifacts/id_*
/artifacts/*inventory.yml
/artifacts/*.txt
/locals.tf
terraform.tfstate*
terraform.tfvars
vars.hcl