[Unit]
Description=Kubernetes Controller Manager
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
User={{ kube_controller_manager_user }}
EnvironmentFile=/etc/default/kube-controller-manager
ExecStart={{ kube_controller_manager_bin_path }}/kube-controller-manager-launcher
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
