[Unit]
Description=Kubernetes Controller Manager
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target
ConditionPathExists={{ kube_controller_manager_config_path }}/aggregation-layer-ca.pem
ConditionPathExists={{ kube_controller_manager_config_path }}/kube-controller-manager.kubeconfig
ConditionPathExists={{ kube_controller_manager_config_path }}/node-ca.key
ConditionPathExists={{ kube_controller_manager_config_path }}/node-ca.pem
ConditionPathExists={{ kube_controller_manager_config_path }}/server-ca.pem
ConditionPathExists={{ kube_controller_manager_config_path }}/service-account-private-key.pem

[Service]
User={{ kube_controller_manager_user }}
EnvironmentFile=/etc/default/kube-controller-manager
ExecStart={{ kube_controller_manager_bin_path }}/kube-controller-manager \
  --allocate-node-cidrs=true \
  --authentication-kubeconfig={{ kube_controller_manager_config_path }}/kube-controller-manager.kubeconfig \
  --authorization-kubeconfig={{ kube_controller_manager_config_path }}/kube-controller-manager.kubeconfig \
  --client-ca-file={{ kube_controller_manager_config_path }}/server-ca.pem \
  --cluster-cidr="${KUBE_CONTROLLER_MANAGER_CLUSTER_CIDR}" \
  --cluster-signing-cert-file={{ kube_controller_manager_config_path }}/node-ca.pem \
  --cluster-signing-key-file={{ kube_controller_manager_config_path }}/node-ca.key \
  --feature-gates=EndpointSliceTerminatingCondition=true \
  --node-cidr-mask-size-ipv4="${KUBE_CONTROLLER_MANAGER_NODE_CIDR_MASK_SIZE_IPV4}" \
  --node-cidr-mask-size-ipv6="${KUBE_CONTROLLER_MANAGER_NODE_CIDR_MASK_SIZE_IPV6}" \
  --kubeconfig={{ kube_controller_manager_config_path }}/kube-controller-manager.kubeconfig \
  --requestheader-client-ca-file={{ kube_controller_manager_config_path }}/aggregation-layer-ca.pem \
  --root-ca-file={{ kube_controller_manager_config_path }}/server-ca.pem \
  --service-cluster-ip-range="${KUBE_CONTROLLER_MANAGER_SERVICE_CLUSTER_IP_RANGE}" \
  --service-account-private-key-file={{ kube_controller_manager_config_path }}/service-account-private-key.pem \
  --use-service-account-credentials=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
