---
$patch: delete
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
---
$patch: delete
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
---
$patch: delete
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
