[Unit]
Description=Kubernetes Controller Manager
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
User={{ kube_controller_manager_user }}
ExecStart={{ kube_controller_manager_bin_path }}/kube-controller-manager \
  --allocate-node-cidrs=true \
  --authentication-kubeconfig={{ kube_controller_manager_config_path }}/kube-controller-manager.kubeconfig \
  --authorization-kubeconfig={{ kube_controller_manager_config_path }}/kube-controller-manager.kubeconfig \
  --client-ca-file={{ kube_controller_manager_config_path }}/server-ca.pem \
  --cluster-cidr=KUBE_CONTROLLER_MANAGER_CLUSTER_IP_RANGE \
  --kubeconfig={{ kube_controller_manager_config_path }}/kube-controller-manager.kubeconfig \
  --requestheader-client-ca-file={{ kube_controller_manager_config_path }}/aggregation-layer-ca.pem \
  --root-ca-file={{ kube_controller_manager_config_path }}/server-ca.pem \
  --service-account-private-key-file={{ kube_controller_manager_config_path }}/service-account-private-key.pem \
  --use-service-account-credentials=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
