apiVersion: apiserver.k8s.io/v1beta1
kind: EgressSelectorConfiguration
metadata:
  name: egress-selector-configuration-cluster
egressSelections:
- name: cluster
  connection:
    proxyProtocol: HTTPConnect
    transport:
      tcp:
        url: CLUSTER_MEMBER_ADDRESS
        tlsConfig:
          caBundle: {{ kube_apiserver_config_path }}/server-ca.pem
          clientCert: {{ kube_apiserver_config_path }}/konnectivity-client.pem
          clientKey: {{ kube_apiserver_config_path }}/konnectivity-client.key