[Unit]
Description=Kubernetes API server
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
User={{ kube_apiserver_user }}
EnvironmentFile=/etc/default/kube-apiserver
ExecStart={{ kube_apiserver_bin_path }}/kube-apiserver-launcher
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
