[Unit]
Description=Exoscale Cloud Controller Manager
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
User={{ exoscale_cloud_controller_manager_user }}
EnvironmentFile={{ exoscale_cloud_controller_manager_config_path }}/environment
ExecStart={{ exoscale_cloud_controller_manager_bin_path }}/exoscale-cloud-controller-manager-launcher
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
