[Unit]
Description=etcd endpoints probe
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target
ConditionPathExists={{ kube_apiserver_config_path }}/etcd-ca.pem
ConditionPathExists={{ kube_apiserver_config_path }}/etcd.key
ConditionPathExists={{ kube_apiserver_config_path }}/etcd.pem

[Service]
User={{ kubernetes_common_user }}
EnvironmentFile=/etc/default/etcd-endpoints-probe
ExecStart={{ kube_apiserver_bin_path }}/etcd-endpoints-probe
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
