[Unit]
Description=Kubernetes API server
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target
ConditionPathExists={{ kube_apiserver_config_path }}/aggregation-layer-ca.pem
ConditionPathExists={{ kube_apiserver_config_path }}/aggregation-layer.key
ConditionPathExists={{ kube_apiserver_config_path }}/aggregation-layer.pem
ConditionPathExists={{ kube_apiserver_config_path }}/egress-selector-configuration.yaml
ConditionPathExists={{ kube_apiserver_config_path }}/encryption-configuration.yaml
ConditionPathExists={{ kube_apiserver_config_path }}/etcd-ca.pem
ConditionPathExists={{ kube_apiserver_config_path }}/etcd.key
ConditionPathExists={{ kube_apiserver_config_path }}/etcd.pem
ConditionPathExists={{ kube_apiserver_config_path }}/kubelet-ca.pem
ConditionPathExists={{ kube_apiserver_config_path }}/kubelet-client.key
ConditionPathExists={{ kube_apiserver_config_path }}/kubelet-client.pem
ConditionPathExists={{ kube_apiserver_config_path }}/oidc-ca.pem
ConditionPathExists={{ kube_apiserver_config_path }}/server-ca.pem
ConditionPathExists={{ kube_apiserver_config_path }}/server.key
ConditionPathExists={{ kube_apiserver_config_path }}/server.pem
ConditionPathExists={{ kube_apiserver_config_path }}/service-account-key.pem

[Service]
User={{ kube_apiserver_user }}
EnvironmentFile=/etc/default/kube-apiserver
ExecStart={{ kube_apiserver_bin_path }}/kube-apiserver \
  --advertise-address="${KUBE_APISERVER_ADVERTISE_ADDRESS}" \
  --allow-privileged \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file={{ kube_apiserver_config_path }}/server-ca.pem \
  --enable-bootstrap-token-auth=true \
  --etcd-cafile={{ kube_apiserver_config_path }}/etcd-ca.pem \
  --etcd-certfile={{ kube_apiserver_config_path }}/etcd.pem \
  --etcd-compaction-interval=0 \
  --etcd-keyfile={{ kube_apiserver_config_path }}/etcd.key \
  --etcd-prefix=/kubernetes \
  --etcd-servers="${KUBE_APISERVER_ETCD_SERVERS}" \
  --egress-selector-config-file={{ kube_apiserver_config_path }}/egress-selector-configuration.yaml \
  --enable-aggregator-routing=true \
  --encryption-provider-config={{ kube_apiserver_config_path }}/encryption-configuration.yaml \
  --feature-gates=EndpointSliceTerminatingCondition=true \
  --kubelet-certificate-authority={{ kube_apiserver_config_path }}/kubelet-ca.pem \
  --kubelet-client-certificate={{ kube_apiserver_config_path }}/kubelet-client.pem \
  --kubelet-client-key={{ kube_apiserver_config_path }}/kubelet-client.key \
  --kubelet-preferred-address-types=InternalIP,ExternalIP \
  --profiling=false \
  --service-account-issuer="${KUBE_APISERVER_SERVICE_ACCOUNT_ISSUER}" \
  --service-account-key-file={{ kube_apiserver_config_path }}/service-account-key.pem \
  --service-account-signing-key-file={{ kube_apiserver_config_path }}/service-account-key.pem \
  --service-cluster-ip-range="${KUBE_APISERVER_SERVICE_CLUSTER_IP_RANGE}" \
  --tls-cert-file={{ kube_apiserver_config_path }}/server.pem \
  --tls-private-key-file={{ kube_apiserver_config_path }}/server.key \
  --requestheader-client-ca-file={{ kube_apiserver_config_path }}/aggregation-layer-ca.pem \
  --proxy-client-cert-file={{ kube_apiserver_config_path }}/aggregation-layer.pem \
  --proxy-client-key-file={{ kube_apiserver_config_path }}/aggregation-layer.key \
  --oidc-issuer-url="${KUBE_APISERVER_OIDC_ISSUER_URL}" \
  --oidc-client-id="${KUBE_APISERVER_OIDC_CLIENT_ID}" \
  --oidc-username-claim="${KUBE_APISERVER_OIDC_USERNAME_CLAIM}" \
  --oidc-groups-claim="${KUBE_APISERVER_OIDC_GROUPS_CLAIM}" \
  --oidc-ca-file={{ kube_apiserver_config_path }}/oidc-ca.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
