kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  x509:
    clientCAFile: "/etc/kubernetes/kubelet/node-ca.pem"
clusterDomain: "KUBE_CLUSTER_DOMAIN"
clusterDNS:
  - "KUBE_CLUSTER_DNS_ADDRESS"
resolvConf: "/run/systemd/resolve/resolv.conf"
providerID:

serverTLSBootstrap: true
