#!/bin/bash

# Fails on missing certificates

if [ ! -f {{ kubelet_config_path }}/kubelet.kubeconfig ]; then exit 0; fi
if [ ! -f {{ kubelet_config_path }}/node-ca.pem ]; then exit 0; fi

# Build kubelet configuration

cat > "{{ kubelet_config_path }}/config.yaml" <<EOF
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  x509:
    clientCAFile: "{{ kubelet_config_path }}/node-ca.pem"
clusterDomain: "${KUBELET_CLUSTER_DOMAIN}"
clusterDNS:
  - "${KUBELET_CLUSTER_DNS_ADDRESS}"
resolvConf: "/run/systemd/resolve/resolv.conf"
providerID:

serverTLSBootstrap: true
EOF

# Launch kubelet

{{ kubelet_bin_path }}/kubelet \
  --config={{ kubelet_config_path }}/config.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
  --kubeconfig={{ kubelet_config_path }}/kubelet.kubeconfig \
  --register-node=true \
  --v=2
