[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=network-online.target time-sync.target containerd.service
Requires=network-online.target time-sync.target containerd.service

[Service]
EnvironmentFile=/etc/default/kubelet
ExecStart={{ kubelet_bin_path }}/kubelet-launcher
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
