[Unit]
Description=API Server Network Proxy Server (Konnectivity)
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
User={{ konnectivity_user }}
ExecStartPre=
ExecStart={{ konnectivity_server_bin_path }}/konnectivity-server-launcher

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
