[Unit]
Description=Kubernetes Scheduler
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
User={{ kube_scheduler_user }}
ExecStart={{ kube_scheduler_bin_path }}/kube-scheduler \
  --authentication-kubeconfig={{ kube_scheduler_config_path }}/kube-scheduler.kubeconfig \
  --authorization-kubeconfig={{ kube_scheduler_config_path }}/kube-scheduler.kubeconfig \
  --client-ca-file={{ kube_scheduler_config_path }}/server-ca.pem \
  --kubeconfig={{ kube_scheduler_config_path }}/kube-scheduler.kubeconfig \
  --leader-elect=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
