#!/bin/bash

# Fails on missing certificates

if [ ! -f {{ kube_scheduler_config_path }}/kube-scheduler.kubeconfig ]; then exit 0; fi
if [ ! -f {{ kube_scheduler_config_path }}/server-ca.pem ]; then exit 0; fi

{{ kube_scheduler_bin_path }}/kube-scheduler \
  --authentication-kubeconfig={{ kube_scheduler_config_path }}/kube-scheduler.kubeconfig \
  --authorization-kubeconfig={{ kube_scheduler_config_path }}/kube-scheduler.kubeconfig \
  --client-ca-file={{ kube_scheduler_config_path }}/server-ca.pem \
  --kubeconfig={{ kube_scheduler_config_path }}/kube-scheduler.kubeconfig \
  --leader-elect=true
