[Unit]
Description=Kubernetes Scheduler
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
User={{ kube_scheduler_user }}
ExecStart={{ kube_scheduler_bin_path }}/kube-scheduler-launcher
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
