# {{ ansible_managed }}

[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionPathExists={{ vault_main_config }}

[Service]
User={{ vault_user }}
Group={{ vault_group }}
{% if vault_mode == 'server' %}
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
{% if systemd_version.stdout is version('230', '>=') %}
AmbientCapabilities=CAP_SYSLOG CAP_IPC_LOCK
{% endif %}
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart=/bin/sh -c 'exec {{ vault_bin_path }}/vault {{ vault_mode }} -config={{ vault_config_path }} -log-level={{ vault_log_level | lower }}'
{% else %}
ExecStart=/bin/sh -c 'exec {{ vault_bin_path }}/vault {{ vault_mode }} -config={{ vault_main_config }} -log-level={{ vault_log_level | lower }}'
RuntimeDirectory=vault
{% endif %}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
StartLimitBurst=3
LimitNOFILE=524288
LimitNPROC=524288
LimitMEMLOCK=infinity
LimitCORE=0

[Install]
WantedBy=multi-user.target
