server {
    listen {{ healthcheck_port }};
    listen [::]:{{ healthcheck_port }};

    server_name default;

    location = /healthz {
        access_log off;
        gzip off;
        fastcgi_pass unix:/var/run/fcgiwrap.socket;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME {{ healthcheck_script_path }};
    }

    location / {
        return 404;
    }
}
