ETCD_LOG_LEVEL=warn

ETCD_DATA_DIR=/var/lib/etcd/
ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://CLUSTER_MEMBER_ADDRESS:2380"

# Set agressive compaction policy
ETCD_AUTO_COMPACTION_RETENTION=1000
ETCD_AUTO_COMPACTION_MODE=revision
ETCD_SNAPSHOT_COUNT=10000

# Listen / advertise & TLS settings
ETCD_LISTEN_CLIENT_URLS="https://CLUSTER_MEMBER_ADDRESS:2379"
ETCD_ADVERTISE_CLIENT_URLS="https://CLUSTER_MEMBER_ADDRESS:2379"
ETCD_LISTEN_PEER_URLS="https://CLUSTER_MEMBER_ADDRESS:2380"
ETCD_CLIENT_CERT_AUTH=true
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_PEER_TRUSTED_CA_FILE={{ etcd_certs_path }}/ca.pem
ETCD_PEER_CERT_FILE={{ etcd_certs_path }}/server.pem
ETCD_PEER_KEY_FILE={{ etcd_certs_path }}/server.key
ETCD_TRUSTED_CA_FILE={{ etcd_certs_path }}/ca.pem
ETCD_CERT_FILE={{ etcd_certs_path }}/server.pem
ETCD_KEY_FILE={{ etcd_certs_path }}/server.key
